<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your Facebook Friends Are...</title>
    <link href="/static/glike.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      {% if user %}
        <a href="{{ user.profile_url }}"><img width="50" height="50" src="http://graph.facebook.com/{{ user.id }}/picture?type=square"/></a>
        <h1>Hello, {{ user.name|escape }}</h1>
      {% else %}
        <h1>Hello, sign it to continue.</h1>
      {% endif %}
        <p style="float: right; vertical-align: middle; margin: 0; padding: 0; margin-top: 5px;"><fb:login-button autologoutlink="true" scope="publish_stream,user_location,friends_location"></fb:login-button></p>
    </div>
    <div id="content">
      {% if user %}
        <p>Your friends are (limit 10)...</p>
        <ul>
        {% for friend in friends %}
          <li><a href="{{ friend.link }}"><img width="50" height="50" src="http://graph.facebook.com/{{ friend.id }}/picture?type=square"/></a>{{ friend.name }} lives in {{ friend.location }}</li>
        {% endfor %}
        </ul>
      {% endif %}
        <p>
          The time is: {{ current_time }}
        <p>
      {% if user %}
        <form action="/prefs" method="post">
          <label for="location">
            Lookup location:
          </label>
          <select name="location">
            <option value="Los Angeles, CA">Los Angeles, CA</option>
            <option value="San Francisco, CA">San Francisco, CA</option>
            <option value="New York, NY">New York, NY</option>
          </select>
          <label for="tz_offset">
            Timezone offset from UTC (can be negative):
          </label>
          <input name="tz_offset" id="tz_offset" type="text" size="4" value"{{ userprefs.tz_offset }}" />
          <input type="submit" />
        </form>
      {% endif %}
    </div>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
  </body>
</html>
