<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Meetup.com Kiosk</title>
    <link href="http://static1.meetupstatic.com/style/90107138517445838113/chapterbase.css" rel="stylesheet" type="text/css" />
    <link href="http://static1.meetupstatic.com/style/6687603707983456235/meetup.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="refresh" content="5" >
  </head>
  <body>
    <div id="chapter-banner" class="doc-content">
      <h1>
        <a href="{{ link }}" title="{{ name }}">
          <span style="font-size: 42.0px">{{ name }}</span>
        </a>
      </h1>
    </div>
    {% if photo_link %}
      <a class="block align-center margin-top" href="{{ link }}">
        <img class="photo" style="max-height: 300px; min-height: 300px; width: auto; max-width: 500px;" src="{{ photo_link }}" alt="Group Photo">
      </a>
    {% endif %}
    <div id="group-desc-bubble" class="block margin-top" style="padding-right: 27px; padding-left: 27px; width: 713px; width: 700px; height: 200px; overflow: auto; margin: 20px auto; padding: 10px 20px; ">
      {{ description }}
    </div>
    <div id="content">
      {% if event_name %}
        <h3 style="text-align:center; padding-right: 27px; padding-left: 27px; width: 713px; margin: 20px auto;">Join us for {{ event_name }} on {{ event_datetime }}</h3>
      {% endif %}
      <a class="block align-center margin-top" href="{{ link }}">
        <img class="photo" src="{{ qr_code }}" height="150" width="150" alt="QR Code">
      </a>
    </div>
    <a href="https://github.com/lucasrangit/MeetupKiosk/fork"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  </body>
</html>
