<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Meetup.com Kiosk</title>
    <link href="http://static1.meetupstatic.com/style/90107138517445838113/chapterbase.css" rel="stylesheet" type="text/css" />
    <link href="http://static1.meetupstatic.com/style/6687603707983456235/meetup.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="chapter-banner" class="doc-content">
    <h1>
    <a href="{{ link }}" title="{{ name }}">
    <span style="font-size: 42.0px">{{ name }}</span>
    </a>
    </h1>
    </div>
    <div id="content">

    </div>
  </body>
</html>
